/***********************
共通部分
************************/
*{
  margin: 0px;
  padding: 0px;
}

.flex{
  display: flex;
}

li{
  list-style: none;
}

li::before {
  position: relative;
  top: -2px;
  left: -5px;

  display: inline-block;

  width: 10px;
  height: 10px;

  content: '';

  border-radius: 100%;
}

/***********************
nav部分
************************/
.nav-content{
  width: 30%;
  background-color: #DDDDDD;
  border-right: 1px solid black;
  display: block;
}

.r-border{
  border-right: 5px solid #9999FF;
  width: 100%;
  height: 100%;
}

.nav-content a{
  text-decoration: underline;
}

nav{
  padding-top: 40px;
  position: fixed;
}

nav li{
  font-size: 1em;
  padding: 15px 30px;
}

.pink::before{
  background-color: pink;
}

.lightgreen::before{
  background-color: lightgreen;
}

.skyblue::before{
  background-color: skyblue;
}

.kon::before{
  background-color: rgb(40,46,137);
}

.blue::before{
  background-color: blue;
}

.darkblue::before{
  background-color: darkblue;
}

.parple::before{
  background-color: rgb(180,0,255);
}

/***********************
main部分
************************/
.main{
  background-image: url("image/back.png");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.flex-main{
  display: flex;
  flex-wrap: wrap;
}

header{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

header h1{
  font-size: 34px;
  font-weight: bolder;
  text-shadow: 3px 3px 2px rgba(0,0,0,.2);
}

.profile-content{
  display: inline-block;
  width: 40%;
  margin: 0 10px;
  padding: 20px;
}

.profile-content img{
  margin-bottom: 20px;
}

.profile-content li{
  line-height: 25px;
}

.information{
  display: inline-block;
  width: 50%;
  margin: 0 10px;
  padding-top: 20px;
}

.information-content:last-child{
  border-bottom: 1px solid lightgrey;
}

.information h2{
  font-size: 15px;
  text-align: center;
  margin-bottom: 50px;
}

.information-content{
  border-top: 1px solid lightgrey;
  padding: 5px;
}

.information-content h3{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.infomation-sentense{
  width: 80%;
  margin-left: auto;
}

.infomation-sentense span{
  color: red;
}

#black{
  color: black;
}

/**　not PCサイズ　**/
@media screen and (max-width: 1100px){
  .flex{
    flex-direction: column;
  }

  .nav-content{
    width: 100%;
    position: fixed;
  }

  nav{
    position: relative;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
  }

  .main{
    padding-top: 150px;
  }

  .flex-main{
    flex-direction: column;
  }

  .profile-content{
    width: 100%;
  }

  .information{
    width: 100%;
  }
}
